<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello</h1>
<button id="button" name="test">Test</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#button").click(function() {
        $.ajax({
        url: "http://localhost:9090/api/hello",
        type: 'GET',
        dataType: 'json',
        success : function(res) {
        console.log(res);
        alert(res);̥
        }̥
        });
    });

</script>
</body>
̥
</html>